@model List<MVCKUNOHA_HAY.Models.Item>

@{
    ViewData["Title"] = "Index";
}
<h3>Index</h3>
<table class="table">
    <thread>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Age</th>
        </tr>
    </thread>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Address</td>
                <td>@item.Email</td>
                <td>@item.Age</td>
            </tr>
        }
    </tbody>
</table>